<form action="/show" method="POST">
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Show" />
    </div>
</form>
<div class="form-group">
    <label>Table {{table}} (first line)</label>
    <p>The first line of choosen table!</p>
    <textarea class="form-control" rows="5" id="comment">{{data}}</textarea>
    
</div>