<form action="/show" method="POST">
    <div class="form-group">
        <label for="table">Table:</label>
        <input type="text" class="form-control" name="table" id="table" placeholder="Default: TASK">
        <input type="submit" class="btn btn-primary" value="Show" />
    </div>
</form>